*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradlew.*
Universal_Convertor.iml
/gradle
.idea/
build.*
gradle.*
settings.gradle
build.gradle
gradle.properties
gradlew
